@{
    Layout = null;
}

@if (ViewBag.Counter > 0)
{

    <li class="nav-item active d-none d-lg-block">
        <a class="nav-link" href="@Url.Action("Messages", "User", null)"><i class="far fa-envelope"><span class="badge badge-custom"><span> @ViewBag.Counter</span></span></i><span class="d-lg-none"> Wiadomości</span></a>
    </li>
        <a class="d-block d-lg-none " href="@Url.Action("Messages", "User", null)" role="button"><i class="fas fa-envelope"> </i><span class="d-lg-none">Wiadomości </span><span class="badge badge-custom"><span> @ViewBag.Counter</span></span></a>
}
else
{
        <li class="nav-item active d-none d-lg-block">
            <a class="nav-link" href="@Url.Action("Messages", "User", null)"><i class="far fa-envelope"> </i><span class="d-lg-none">Wiadomości</span></a>
        </li>
        <a class=" d-block d-lg-none " href="@Url.Action("Messages", "User", null)" role="button"><i class="fas fa-envelope"> </i><span class="d-lg-none">Wiadomości</span></a> 
}
