@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MajsterFinale.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid main_loginreg">
        <div class="row">
            <div class="col-md-12 panel_mid p-3">
                <script>
                    document.write('<a style="font-weight:600; color:grey;" id="backbutton" href="' + document.referrer + '"> <i class="fas fa-chevron-left" ></i><span>Wróć</span></a>');
                </script>
            </div>
            <div class="col-md-12 mid_loginreg rounded p-3">
                <h2 class="text-center mt-2">Ustaw nowe hasło</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.ValidationMessage("MAIL", new { @class = "text-danger" })
                    <label class="label-success" style="color: red;">@ViewBag.Message</label>
                </div>
                <div class="form-group p-2">
                    <p>Nowe hasło</p>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Podaj nowe hasło
                    </small>
                    @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
                </div>
                <div class="form-group p-2">
                    <p>Powtórz nowe hasło</p>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Ponownie podaj nowe hasło
                    </small>
                    @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(a => a.ResetCode)
                </div>
                <div class="form-group">
                    <input type="submit" value="Wykonaj" class="btn btn-lg btn-custom btn-block" />
                </div>
            </div>
        </div>
    </div>
}