@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function checkFilesCount(id) {
        if (id.files.length > 4) {
            alert('Można przesłać maksymalnie 4 zdjęcia');
            document.getElementById("f").value = "";
        }
    }
</script>
@model MajsterFinale.Models.AddingAdsRepository
@using (Html.BeginForm("AddAdvertisement", "adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="margin-top:1rem;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h1>Wystaw ogłoszenie!</h1>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12 " style="margin-top:1rem;">
                <div class="col-md-4">
                    <h3>Tytuł ogłoszenia</h3>
                    <div class="form-group name">
                        @Html.EditorFor(model => model.Advert.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Advert.TITLE, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">
                            <sup style="color:red">&#42;</sup>Dodaj tytuł ogłoszenia
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group name">
                        @Html.ValidationMessage("CATEGORY", new { @class = "text-danger" })
                        @Html.DropDownListFor(model => model.CategoryID, new SelectList(Model.Categories, "ID", "NAME"), htmlAttributes: new { @class = "" })
                        <small class="form-text text-muted">
                            <sup style="color:red">&#42;</sup>Wybierz kategorię
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top:2rem;">
                <div class="col-md-4">
                    <h3>Cena</h3>
                    <div class="form-group name">
                        @Html.EditorFor(model => model.Advert.PRICE, new { rows = "1", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Advert.PRICE, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">
                            <sup style="color:red">&#42;</sup>Podaj Cenę
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <h3>Dodaj zdjęcia (PLACEHOLDER)</h3>
                    <form>
                        <div class="form-group">
                            <input type="file" id="f" name="files" multiple onchange="checkFilesCount(this)" />
                        </div>
                    </form>
                </div>
            </div>

            <br>
            <div class=" col-md-12">
                <div class=" col-md-4">
                    <h3>Opis</h3>
                    <div class="form-group name">
                        @Html.TextAreaFor(model => model.Advert.DESCRIPTION, new { cols = "75", rows = "10", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Advert.DESCRIPTION, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">
                            <sup style="color:red">&#42;</sup>Dodaj opis
                        </small>
                    </div>
                </div>
            </div>
            <div class=" col-md-12" style="margin-top:1rem;">
                <div class=" col-md-6">
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Akceptuje regulamin</label><br>
                            <small class="form-text text-muted">
                                Nullam tincidunt est a est eleifend venenatis. Mauris sit amet maximus diam. Vestibulum iaculis pharetra nibh, eget ullamcorper magna laoreet vel. Curabitur eu quam sem. Praesent et viverra felis. Sed faucibus ultrices enim malesuada venenatis. Duis pretium nisi nec erat lobortis blandit. In pretium id mauris eu tempor. Phasellus vehicula, nibh quis tincidunt ultricies, dui magna aliquet ante, nec tincidunt ligula tellus congue justo.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12" style="margin-top:1rem;">
                <div class=" col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Dodaj ogłoszenie" class="btn btn-custom" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}
