@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function checkFilesCount(id) {
        if (id.files.length > 4) {
            alert('Można przesłać maksymalnie 4 zdjęcia');
            document.getElementById("f").value = "";
        }
    }
</script>
@model MajsterFinale.Models.AddingAdsRepository
@using (Html.BeginForm("AddAdvertisement", "adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid addadv_main mt-1">
        <div class="row no-gutters">
            <div class="col-md-12 addadv_title rounded p-3">
                <h1>Wystaw ogłoszenie!</h1>
            </div>
            <div class="col-md-12 d-block d-sm-none">
                <div class="col-md-12 panel_mid p-3">
                    <script>
                        document.write('<a style="font-weight:600; color:grey;" id="backbutton" href="' + document.referrer + '"> <i class="fas fa-chevron-left" ></i><span>Wróć do ogłoszeń</span></a>');
                    </script>
                </div>
            </div>
            <div class="col-md-12 addadv_sec1 rounded mt-3 p-3">
                <div class="col-md-12 mb-3">
                    <h3>Tytuł</h3>
                    @Html.EditorFor(model => model.Advert.TITLE, new { htmlAttributes = new { @class = "form-control ef" } })
                    @Html.ValidationMessageFor(model => model.Advert.TITLE, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Dodaj tytuł ogłoszenia
                    </small>
                </div>
                <div class="col-md-12 mb-3">
                    <h3>Kategoria</h3>
                    @Html.ValidationMessage("CATEGORY", new { @class = "text-danger" })
                    @Html.DropDownListFor(model => model.CategoryID, new SelectList(Model.Categories, "ID", "NAME"), htmlAttributes: new { @class = "dp" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Wybierz kategorię
                    </small>
                </div>
                <div class="col-md-12">
                    <h3>Cena</h3>
                    @Html.EditorFor(model => model.Advert.PRICE, new { rows = "1", htmlAttributes = new { @class = "form-control efsmall" } })
                    @*@Html.ValidationMessageFor(model => model.Advert.PRICE, "", new { @class = "text-danger" })*@
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Podaj Cenę
                    </small>
                </div>
            </div>
            <div class="col-md-12 addadv_sec2 rounded mt-3 p-3">
                <div class="col-md-12">
                    <h3>Zdjęcia</h3>
                    <div class="imgpoz">
                        <label class="custom-file-upload mt-5">
                            <input style="display: none;" type="file" id="f" name="files" multiple onchange="checkFilesCount(this) " />
                            @Html.ValidationMessage("IMAGE", new { @class = "text-danger" })
                            <i class="fas fa-plus"></i>Dodaj zdjęcie
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 addadv_sec3 rounded mt-3 p-3">
                <div class="col-md-12 dppc">
                    <h3>Opis</h3>
                    @Html.TextAreaFor(model => model.Advert.DESCRIPTION, new { @cols = "80", @rows = "10", htmlAttributes = new { @class = "form-control ta1" } })
                    @Html.ValidationMessageFor(model => model.Advert.DESCRIPTION, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Dodaj opis
                    </small>
                </div>
                <div class="col-md-12 dpmb">
                    <h3>Opis</h3>
                    @Html.TextAreaFor(model => model.Advert.DESCRIPTION, new { @cols = 40, @rows = 5, htmlAttributes = new { @class = "form-control ta1" } })
                    @Html.ValidationMessageFor(model => model.Advert.DESCRIPTION, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Dodaj opis
                    </small>
                </div>
            </div>
            <div class="col-md-12 addadv_sec4 rounded mt-3 p-3">
                <div class="col-md-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Akceptuje regulamin</label><br>
                        <small class="form-text text-muted">
                            Nullam tincidunt est a est eleifend venenatis. Mauris sit amet maximus diam. Vestibulum iaculis pharetra nibh, eget ullamcorper magna laoreet vel. Curabitur eu quam sem. Praesent et viverra felis. Sed faucibus ultrices enim malesuada venenatis. Duis pretium nisi nec erat lobortis blandit. In pretium id mauris eu tempor. Phasellus vehicula, nibh quis tincidunt ultricies, dui magna aliquet ante, nec tincidunt ligula tellus congue justo.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-12 addadv_sec5 rounded mt-3 p-3 mb-5">
                <div class="form-group">
                    <input type="submit" value="Dodaj ogłoszenie" class="btn btn-custom float-right " />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function readfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


