@model PagedList.IPagedList<MajsterFinale.Models.ADVERTS>
@using PagedList.Mvc;

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMAGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IS_ARCHIVED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIES.TAG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USERS.LOGIN)
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Category",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))