@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MajsterFinale.Models.DisplayRepository

<script>
    function checkFilesCount(id) {
        if (id.files.length > 4) {
            alert('Można przesłać maksymalnie 4 zdjęcia');
            document.getElementById("f").value = "";
        }
    }
</script>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}

<div class="container-fluid panel_mo">
    <div class="row">
        <div class="col-md-12 d-block d-sm-none">
            <div class="col-md-12 panel_mid p-3">
                <script>
                    document.write('<a style="font-weight:600; color:grey;" id="backbutton" href="' + document.referrer + '"> <i class="fas fa-chevron-left" ></i><span>Wróć do ogłoszeń</span></a>');
                </script>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12 rounded panel_mid text-center p-3" style="">
                <div id="carouselExampleControls" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        @foreach (var item in Model.Images)
                        {
                            <div class="carousel-item @(item == Model.Images.First() ? "active" : "")">
                                <img class="carousel-img img-fluid" onclick="openModal();currentSlide(1)" src="@item.IMAGE_PATH" alt="...">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 rounded panel_mid p-3 ">
                <h3 class="">@Html.DisplayFor(model => model.AdvertDetails.TITLE)</h3>
                <p>Kategoria:  @Html.DisplayFor(model => model.AdvertDetails.CATEGORIES.NAME)</p>

                @if (Model.AdvertDetails.PRICE == 0)
                {
                    <h2 class="text-muted">Cena do ustalenia</h2>
                }
                else
                {
                    <h2 class="text-muted">@Html.DisplayFor(model => model.AdvertDetails.PRICE) zł</h2>
                }
                <br>
                <div id="button">
                    <button id="button" class="btn btn-custom " onclick="showhide()">Pokaż telefon</button>
                    </div>
                    <div id="newpost" style="display:none">
                        <button id="button" class="btn btn-custom " onclick="showhide()">@Html.DisplayFor(model => model.AdvertDetails.USERS.PHONE_NUMBER)</button>
                    </div>
                    <br>
                    @{
                        if (Session["ID"] != null)
                        {
                            if (Model.FAV != null)
                            {
                                using (Html.BeginForm("Obserwuj", "Adverts", new { id = Model.AdvertDetails.ID }, FormMethod.Post))
                                {
                                    <button class="btn btn-custom "><i class="fas fa-bookmark"></i>Obserwowane</button>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("Obserwuj", "Adverts", new { id = Model.AdvertDetails.ID }, FormMethod.Post))
                                {
                                    <button class="btn btn-custom "><i class="far fa-bookmark"></i>Obserwuj</button>
                                }
                            }

                        }
                        else
                        {

                            <a class="btn btn-custom" href="@Url.Action("Logowanie", "Home")" target="_blank">Zaloguj się aby obserwować</a>


                        }

                    }
                    <hr>
                    <p><i class="far fa-user"></i>@Html.DisplayFor(model => model.AdvertDetails.USERS.FNAME)</p>

                    <p><i class="far fa-list-alt"></i><a href="@Url.Action("OgloszeniaUsera", "Adverts", new { id = @Html.DisplayFor(model => model.AdvertDetails.USER_ID)})">Zobacz ogłoszenia użytkownika</a>

                </div>
            </div>
        <div class="col-md-8">
            <div class="col-md-12 rounded panel_mid p-3">
                <h3>Opis</h3>
                @Html.DisplayFor(model => model.AdvertDetails.DESCRIPTION)
                <hr>
                <p class="text-muted">Dodano: @Model.AdvertDetails.DATE.Date.ToShortDateString()</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12rounded panel_mid p-3">
                @{
                    if (Convert.ToInt32(Session["ID"]) != Model.AdvertDetails.USER_ID)
                    {
                        <h3>Wiadomość</h3>
                        if (Session["ID"] != null)
                        {
                            using (Html.BeginForm("Details", "Adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form>
                                    <!--<input type="text" name="message" />-->
                                    <!--<input type="submit" value="wyślij" />-->
                                    <textarea class="form-control" rows="5" minlength="5" name="message" placeholder="Napisz wiadomość! (min. 5 znaków)"></textarea>
                                    <input type="file" id="f" name="files" multiple onchange="checkFilesCount(this)" />
                                    <br>
                                    <button class="btn btn-custom mt-2" type="submit" value="Wyślij">Wyślij</button>
                                </form>
                            }
                        }
                        else
                        {
                            <form>
                                <!--<input type="text" name="message" />-->
                                <!--<input type="submit" value="wyślij" />-->
                                <textarea class="form-control" rows="5" name="message" placeholder="Zaloguj się, aby wysłać wiadomość."></textarea>
                            </form>

                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    function showhide() {
        var div = document.getElementById("newpost");
        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
        var div = document.getElementById("button");
        if (div.style.display !== "none") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
    }
</script>
