@model MajsterFinale.Models.ADVERTS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditAdvertisement</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ADVERTS</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.USER_ID)
            @Html.HiddenFor(model => model.IS_ARCHIVED)
            @Html.HiddenFor(model => model.PHONE_NUMBER)
            @Html.HiddenFor(model => model.DATE)
            @Html.HiddenFor(model => model.CATEGORY)


            @*<div class="form-group">
                @Html.LabelFor(model => model.CATEGORY, "CATEGORY", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor("CATEGORY", SelectListItem(Model.CATEGORIES), htmlAttributes: new { @class = "form-control" });
                    @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="col-md-12">
                    <h3>Wybierz kategorię</h3>
                    <div class="form-group name">
                        @Html.DropDownListFor(model => model.CATEGORY,new SelectList(Model.CATEGORIES, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">
                            <sup style="color:red">&#42;</sup>Wybierz kategorię
                        </small>
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.TITLE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TITLE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PRICE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IMAGE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IMAGE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IMAGE, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "MojeOgloszenia")
    </div>
</body>
</html>
