
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MajsterFinale.Models.ADVERTS
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.USER_ID)
    @Html.HiddenFor(model => model.IS_ARCHIVED)
    @Html.HiddenFor(model => model.PHONE_NUMBER)
    @Html.HiddenFor(model => model.DATE)
    @Html.HiddenFor(model => model.CATEGORY)

    <div class="container-fluid addadv_main mt-1">
        <div class="row no-gutters">

            <div class="col-md-12 addadv_title rounded p-3"><h1>Edytuj ogłoszenie!</h1></div>
            <div class="col-md-12 d-block d-sm-none">
                <div class="col-md-12 panel_mid p-3">
                    <script>
                        document.write('<a style="font-weight:600; color:grey;" id="backbutton" href="' + document.referrer + '"> <i class="fas fa-chevron-left" ></i><span>Wróć do ogłoszeń</span></a>');
                    </script>
                </div>
            </div>
            <div class="col-md-12 addadv_sec1 rounded mt-3 p-3">
                <div class="col-md-12 mb-3">
                    <h3>Tytuł</h3>
                    @Html.EditorFor(model => model.TITLE, new { htmlAttributes = new { @class = "form-control ef" } })
                    @Html.ValidationMessageFor(model => model.TITLE, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Edytuj tytuł ogłoszenia
                    </small>
                </div>
                @*<div class="col-md-12 mb-3">
                <h3>Kategoria</h3>
                @Html.ValidationMessage("CATEGORY", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.CategoryID, new SelectList(Model.Categories, "ID", "NAME"), htmlAttributes: new { @class = "dp" })
                <small class="form-text text-muted">
                    <sup style="color:red">&#42;</sup>Wybierz kategorię
                </small>
            </div>*@
                <div class="col-md-12">
                    <h3>Cena</h3>
                    @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control efsmall" } })
                    @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Edytuj Cenę
                    </small>
                </div>
            </div>
            @*<div class="col-md-12 addadv_sec2 rounded mt-3 p-3">
            <div class="col-md-12">
                <h3>Zdjęcia</h3>
                <div class="imgpoz">
                    <label class="custom-file-upload mt-5">
                        <input type="file" id="f" name="files" multiple onchange="checkFilesCount(this)" />
                        @Html.ValidationMessage("IMAGE", new { @class = "text-danger" })
                        <i class="fas fa-plus"></i>Dodaj zdjęcie
                    </label>
                </div>
            </div>
        </div>*@
            <div class="col-md-12 addadv_sec3 rounded mt-3 p-3">
                <div class="col-md-12">
                    <h3>Opis</h3>
                    @Html.TextAreaFor(model => model.DESCRIPTION, new { @cols = "45", @rows = "10", htmlAttributes = new { @class = "form-control ta1" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">
                        <sup style="color:red">&#42;</sup>Edytuj opis
                    </small>
                </div>
            </div>
            @*<div class="col-md-12 addadv_sec4 rounded mt-3 p-3">
                <div class="col-md-12">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Akceptuje regulamin</label><br>
                        <small class="form-text text-muted">
                            <p1>Oświadczam, iż zapoznałem się z treścią <a href="@Url.Action("Regulamin", "home", null)" target="_blank"> Regulaminu</a> i akceptuję jego wszystkie postanowienia. Akceptuję <a href="@Url.Action("Polityka", "home", null)" target="_blank"> Politykę Ochrony Prywatności</a> - ogólne standardy ochrony.</p1>
                        </small>
                    </div>
                </div>
            </div>*@
            <div class="col-md-12 addadv_sec5 rounded mt-3 p-3 mb-5">
                <div class="form-group">
                    <input type="submit" value="Edytuj ogłoszenie" class="btn btn-custom float-right " />
                </div>
            </div>
        </div>
        </div>
        }

