@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MajsterFinale.Models.DisplayAdsRepository
@using PagedList;
@using PagedList.Mvc;

<div class="container-fluid">
    <div class="row navpanel">
        <div class="col-sm-12"><b>Witaj, @Session["MAIL"]</b></div>
        <div class="col-sm-12"><h1>Twoje ogłoszenia</h1></div>
        <div class="col-sm-12">
            <nav class="nav flex-column flex-sm-row">
                <a class="nav-link navpanelcolor active" href="@Url.Action("MojeOgloszenia", "Adverts", null)">Moje ogłoszenia</a>
                <a class="nav-link navpanelcolor" href="@Url.Action("#", "Adverts", null)">Obserwowane</a>
                <a class="nav-link navpanelcolor" href="@Url.Action("Messages", "User", null)">Wiadomości</a>
                <a class="nav-link navpanelcolor" href="@Url.Action("ArchiveAd", "Adverts", null)">Archiwum</a>
                <a class="nav-link navpanelcolor" href="@Url.Action("EditData", "User", null)">Ustawienia</a>
            </nav>
        </div>
    </div>
    <hr>
    <div class="col-sm-12" style="margin-top: 30px;">
        @{
            bool print = true;
        }
        @foreach (var item in Model.ADVERTS)
        {
            print = true;
            using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-light border-0 cardsize">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <a href="@Url.Action("Details", "Adverts", new { id = item.ID }) ">
                                        @foreach (var itemImage in Model.IMAGES)
                                        {
                                            if (item.ID == itemImage.ADVERT_ID)
                                            {
                                                if (print == true)
                                                {
                                                    <img src="@itemImage.IMAGE_PATH" style="width: 200px; height: 200px" alt="my pic" />
                                                    print = false;
                                                }
                                            }
                                        }
                                    </a>
                                </div>
                                <div class="card-body link">
                                    <h4 class="card-title"><a href="@Url.Action("Details", "Adverts", new { id = item.ID })">@Html.DisplayFor(modelItem => item.TITLE)</a></h4>
                                    <!-- <p class="card-text">Kategoria: @Html.DisplayFor(modelItem => item.CATEGORIES.NAME)</p>-->
                                    <button type="submit" value="@item.ID" name="Edit" onclick="return @item.ID;">Edytuj</button>|
                                    <button type="submit" value="@item.ID" name="Delete" onclick="return @item.ID;">Usuń</button>
                                    <p class="card-text text-right">@Html.DisplayFor(modelItem => item.PRICE) zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            }
        }
        <div class="col-md-12 text-center" style="background-color:transparent;">
            Strona @(Model.ADVERTS.PageCount < Model.ADVERTS.PageNumber ? 0 : Model.ADVERTS.PageNumber) z @Model.ADVERTS.PageCount

            @Html.PagedListPager(Model.ADVERTS, page => Url.Action("MojeOgloszenia", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
