@model List<MajsterFinale.Models.ADVERTS>

@{

    foreach (var item in Model)

    {
        //href="@Url.Action("Details", "Adverts", new { id = @item.ID })"
        <tr data-placement="top" data-original-title="View List">

            <td>@item.ID</td>

            <td>@item.USER_ID</td>

            <td>@item.TITLE</td>

            <td>@item.PRICE</td>

            <td>@item.CATEGORY</td>
        </tr>
    }

}