@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MajsterFinale.Models.MessageModel
<script>
    function checkFilesCount(id) {
        if (id.files.length > 4) {
            alert('Można przesłać maksymalnie 4 zdjęcia');
            document.getElementById("f").value = "";
        }
    }
</script>
<div class="container-fluid panel_mo">
    <div class="col-md-12 panel_top rounded p-3">
        <b>Witaj, @Session["MAIL"]</b>
        <h1>Wiadomości</h1>
    </div>
    <div class="col-md-12 panel_mid rounded p-3">
        <nav class="nav flex-column flex-sm-row">
            <a class="nav-link " href="@Url.Action("MojeOgloszenia", "Adverts", null)">Moje ogłoszenia</a>
            <a class="nav-link " href="@Url.Action("Obserwowane", "Adverts", null)">Obserwowane</a>
            <a class="nav-link active" href="@Url.Action("Messages", "User", null)">Wiadomości</a>
            <a class="nav-link " href="@Url.Action("ArchiveAd", "Adverts", null)">Archiwum</a>
            <a class="nav-link " href="@Url.Action("EditData", "User", null)">Ustawienia</a>
        </nav>
    </div>

    <div class="panel_bottom rounded mt-1">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <script type="text/javascript">
        alert("@ViewBag.Error");
            </script>
        }
        <div class="col-md-12 panel_mid rounded p-3">
          <h1>Miejsce na ogłoszenie:</h1>
        </div>
        <div class="col-md-12 panel_mid rounded p-4">
            @{
                int LoggedUserID = Convert.ToInt32(Session["ID"]);
                for (int i = 0; i < Model.CoversationMessages.Count; i++)
                {
                    <div class="row ml-auto">
                        @if (Model.CoversationMessages[i].MSG_FROM == Model.LoggedUser.USER_ID)
                        {
                            <div class="col-md-5  mr-3">
                                <div class="col-12 p-1">
                                    @*@Model.LoggedUser.FNAME*@ <span style="font-weight:500">Twoja odpowiedź</span>
                                </div>
                                <div class="col-12 p-3 rounded" style="background-color: #f3b136;">
                                    @Html.DisplayFor(modelItem => Model.CoversationMessages[i].TEXT)
                                    @{
                                        foreach (var j in Model.Images)
                                        {
                                            if (j.MESSAGE_ID == Model.CoversationMessages[i].ID)
                                            {
                                                <img class=" img-fluid" src="@j.IMAGE_PATH" alt="my pic" />
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-12">
                                    <span class="text-muted" style="font-size:0.8rem;">Wysłano: @Html.DisplayFor(modelItem => Model.CoversationMessages[i].DATE)</span>
                                </div>
                            </div>

                        }
                        @if (Model.CoversationMessages[i].MSG_FROM == Model.SecondConversationUser.USER_ID)
                        {

                            <div class="col-md-5 ml-auto mt-1 mr-3">
                                <div class="col-12 p-1">
                                    <span style="font-weight:500"> @Model.SecondConversationUser.FNAME </span>
                                </div>
                                <div class="col-12 p-3 rounded" style="background-color:whitesmoke;">
                                    @Html.DisplayFor(modelItem => Model.CoversationMessages[i].TEXT)
                                    @{
                                        foreach (var j in Model.Images)
                                        {
                                            if (j.MESSAGE_ID == Model.CoversationMessages[i].ID)
                                            {
                                                <img class=" img-fluid" src="@j.IMAGE_PATH" alt="my pic" />
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-12 text-right">
                                    <span class="text-muted" style="font-size:0.8rem;">Wysłano: @Html.DisplayFor(modelItem => Model.CoversationMessages[i].DATE)</span>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        @{

            using (Html.BeginForm("Conversation", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-12 panel_mid rounded p-3">
                    <h4>Odpowiedz: </h4>
                    <textarea class="form-control" rows="5" minlength="5" name="message" placeholder="Napisz wiadomość! (min. 5 znaków)"></textarea>
                    <br/>
                    <div class="row">
                       <div class="col-6">
                         <input type="file" id="f" name="files" multiple onchange="checkFilesCount(this)" />
                         <input type="hidden" name="AdvertId" value="@Model.CoversationMessages[0].ADVERT_ID" />
                         <input type="hidden" name="UserTo" value="@Model.SecondConversationUser.USER_ID" />
                       </div>
                       <div class="col-6 text-right">
                         <button class="btn btn-custom mr-auto">Wyślij</button>
                       </div>
                    </div>
                </div>
                }
                }

            </div>

</div>
   


