@model MajsterFinale.Models.USERS

<div>

    @{
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <script type="text/javascript">
                alert("@ViewBag.Message");
            </script>
        }
        if (Session["ID"] != null)
        {
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Zmiana hasła
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Zmiana hasła</legend>
                        <table>
                            <tr>
                                <td>@Html.Label("Obecne hasło: ", new { @for = "OldPassword" }) :  </td>
                                <td>@Html.Password("OldPassword")</td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Nowe Hasło", new { @for = "NewPassword" }) :</td>
                                <td>@Html.Password("newPassword")</td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Potwierdź nowe hasło", new { @for = "ConfirmNewPassword" }) : </td>
                                <td>@Html.Password("ConfirmNewPassword")</td>
                            </tr>
                            <tr>
                                <input name="change" type="hidden" value="0" />
                                <td><input type="submit" value="Change Password" /></td>
                            </tr>
                        </table>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Zmiana adresu email
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Zmiana adresu Email</legend>
                        <table>
                            <tr>
                                <td>@Html.Label("Nowe adres email", new { @for = "NewEmail" }) :</td>
                                <td>@Html.Editor("NewEmail")</td>
                            </tr>
                            <tr>
                                <td>@Html.Label("Potwierdź nowy adres: ", new { @for = "ConfirmEmail" }) : </td>
                                <td>@Html.Editor("ConfirmEmail")
                            </tr>
                            <tr>
                                <input name="change" type="hidden" value="1"/>
                                <td><input type="submit" value="Zmień adres email" /></td>
                            </tr>
                        </table>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Zmień dane osobowe:
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
        }

    }
