@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MajsterFinale.Models.PanelMessageModel

<div class="container-fluid panel_mo">
    <div class="col-md-12 panel_top rounded p-3">
        <b>Witaj, @Session["MAIL"]</b>
        <h1>Wiadomości</h1>
    </div>
    <div class="col-md-12 panel_mid rounded p-3">
        <nav class="nav flex-column flex-sm-row">
            <a class="nav-link " href="@Url.Action("MojeOgloszenia", "Adverts", null)">Moje ogłoszenia</a>
            <a class="nav-link " href="@Url.Action("Obserwowane", "Adverts", null)">Obserwowane</a>
            <a class="nav-link active" href="@Url.Action("Messages", "User", null)">Wiadomości</a>
            <a class="nav-link " href="@Url.Action("ArchiveAd", "Adverts", null)">Archiwum</a>
            <a class="nav-link " href="@Url.Action("EditData", "User", null)">Ustawienia</a>
        </nav>
    </div>

    <div class="col-md-12 panel_mid p-3" id="displayMob2">
        <div class="row">
            <div class="col-md-2">Użytkownik</div>
            <div class="col-md-3">Ogłoszenie</div>
            <div class="col-md-5">Wiadomość</div>
            <div class="col-md-2">Akcja</div>
        </div>
    </div>

    <div class="mt-3">
        <div class="row no-gutters align-items-center">

            @{
                int length = Model.UserMessages.Count;
                int[,] msglist = new int[4, length];
                bool save = true;
                for (int j = 0; j < Model.UserMessages.Count; j++)
                {
                    save = true;
                    for (int x = 0; x < j; x++)
                    {
                        if (msglist[0, x] == Model.UserMessages[j].ADVERT_ID && (msglist[1, x] == Model.UserMessages[j].MSG_TO && msglist[2, x] == Model.UserMessages[j].MSG_FROM) || (msglist[1, x] == Model.UserMessages[j].MSG_FROM && msglist[2, x] == Model.UserMessages[j].MSG_TO))
                        {
                            save = false;
                        }
                    }
                    if (save == true)
                    {
                        msglist[0, j] = Model.UserMessages[j].ADVERT_ID;
                        msglist[1, j] = Model.UserMessages[j].MSG_TO;
                        msglist[2, j] = Model.UserMessages[j].MSG_FROM;
                        msglist[3, j] = Model.UserMessages[j].ID;
                    }
                }

                string ConversationWith = "";
                string adnumber = "";
                string ConversationAdvertTitle = "";
                string Msg = "";
                int ogloszenie = 0;

                for (int i = 0; i < msglist.GetLength(1); i++)
                {
                    if (msglist[0, i] > 0)

                    {


                        {
                            var User1 = Model.Users.Where(x => x.USER_ID == msglist[1, i]).Select(x => x.USER_ID).SingleOrDefault();
                            var User2 = Model.Users.Where(x => x.USER_ID == msglist[2, i]).Select(x => x.USER_ID).SingleOrDefault();
                            if (User1 == Convert.ToInt32(Session["ID"]))
                            {
                                ConversationWith = Model.Users.Where(x => x.USER_ID == msglist[2, i]).Select(x => x.FNAME).SingleOrDefault();
                                adnumber = (msglist[0, i]).ToString();
                                ogloszenie = msglist[0, i];
                                ConversationAdvertTitle = Model.MessageAdvertDetails.Where(x => x.ID == ogloszenie).Select(x => x.TITLE).SingleOrDefault();

                            }
                            else
                            {
                                ConversationWith = Model.Users.Where(x => x.USER_ID == msglist[1, i]).Select(x => x.FNAME).SingleOrDefault();
                                adnumber = (msglist[0, i]).ToString();
                                ogloszenie = msglist[0, i];
                                ConversationAdvertTitle = Model.MessageAdvertDetails.Where(x => x.ID == ogloszenie).Select(x => x.TITLE).SingleOrDefault();
                            }
                        }
                        <div class="col-md-2 panel_ms p-3">
                            <span style="font-weight:600;"><i class="far fa-user"></i>@ConversationWith</span>
                        </div>
                        <div class="col-md-3 panel_ms p-3">
                            <a href="@Url.Action("Details", "Adverts", new { id = @adnumber })" style="color:black">@ConversationAdvertTitle</a>
                        </div>
                        {
                            Msg = Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.TEXT).SingleOrDefault();

                            if (Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.MSG_TO).SingleOrDefault() == Convert.ToInt32(Session["ID"]))
                            {
                                if (Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.IS_READ).SingleOrDefault() == false)
                                {
                                    if (Msg.Length < 31)
                                    {
                                        <div class="col-md-5 panel_ms p-3">
                                            <i class="far fa-envelope" style="color:#f3b136"></i>@Msg
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-5 panel_ms p-3">
                                            <i class="far fa-envelope" style="color:#f3b136"></i>@Msg.Substring(0, 30)
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (Msg.Length < 31)
                                    {
                                        <div class="col-md-5 panel_ms p-3">
                                            <i class="far fa-envelope-open"></i>@Msg
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-5 panel_ms p-3">
                                            <i class="far fa-envelope-open"></i>@Msg.Substring(0, 30)
                                        </div>
                                    }
                                }
                            }

                            <div class="col-md-2 panel_ms p-3" id="displayPC">
                                <i class="fas fa-reply" style="color:#f3b136"></i> <a href="@Url.Action("Conversation", "User", new {AdvertId = msglist[0, i], UserA = msglist[1, i], UserB = msglist[2, i]})" style="color:black">Przejdź</a>
                            </div>
                            <div class="col-md-2 panel_ms p-3" id="displayMob">
                                <i class="fas fa-reply" style="color:#f3b136"></i><a href="@Url.Action("Conversation", "User", new {AdvertId = msglist[0, i], UserA = msglist[1, i], UserB = msglist[2, i]})" style="color:black">Przejdź</a>
                            </div>
                        }

                    }

                }

            }
        </div>
    </div>
</div>
<div class="col-md-12 text-center" style="background-color:transparent; margin-top:27rem;">
</div>