@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<MajsterFinale.Models.ADVERTS>
@using PagedList.Mvc;

<table class="table">

    @foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", "Adverts", new { id = item.ID })">
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMAGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIES.NAME)
            </td>
            <td>
                <a href="@Url.Action("Details", "Adverts", new { id = item.ID }) ">Szczegóły</a>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Adverts",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
