@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<MajsterFinale.Models.ADVERTS>
@using PagedList.Mvc;

<div class="container-fluid ">
    <div class="advertmainsub">
        <div class="row">

            <!---Searchbar Mobile--->
            <div class="col-md-12 mb-2 advertnavm " id="displayMobile">
                <div class="col-12 bt-2 mt-2">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Czego szukasz?" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
            </div>

            <!---Searchbar PC--->
            <!--<div class="col-md-12 mb-2 advertnavp " id="displayPC">
                <div class="col-12 bt-2 mt-2">
                    Searchbar
                </div>
            </div>-->
            <!---Wybór kategorii Mobile--->
            <div class="col-md-3 advertfilter" id="displayMobile">
                <div class="col-md-12 advertfilterin">
                    <p><i class="fas fa-chevron-left" style="font-size: 1rem;"> Wróc do <a href="@Url.Action("Dom", "Categories", null)">Kategoria główna</a></i></p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Elektryka", "Categories", null)">Elektryka </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!---Wybór kategorii Mobile--->
            <div class="col-12 mb-2 text-center" id="displayMobile">
                <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-chevron-down"> Filtry </i>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="col-md-12 advertsearch">
                    </div>
                </div>
            </div>



            <!---Filtry PC--->
            <!--<div class="col-12 mb-2 advertsearch" id="displayPC">
                Filtry
            </div>-->
            <!---Kategorie Mobile--->
            <div class="col-md-3 advertfilter" id="displayPC">
                <div class="col-md-12 advertfilterin">
                    <p><i class="fas fa-chevron-left" style="font-size: 1rem;"> Wróc do <a href="@Url.Action("Dom", "Categories", null)">Kategoria główna</a></i></p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Elektryka", "Categories", null)">Elektryka </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!---Ogłoszenia--->
            <div class="col-md-9 advertsection mt-2">
                <div class="col-md-12 advertsectionin">
                    @foreach (var item in Model)
                    {
                        <div class="card bg-light border-0 mb-2">
                            <div class="card-horizontal p-2">
                                <div class="img-square-wrapper">
                                    <a href="@Url.Action("Details", "Adverts", new { id = item.ID }) "><img class="" src="http://via.placeholder.com/200x140" alt="Card image cap"></a>
                                </div>
                                <div class="card-body">
                                    <div style="float:left">
                                        <h4 class="card-title"><a href="@Url.Action("Details", "Adverts", new { id = item.ID })">@Html.DisplayFor(modelItem => item.TITLE)</a></h4>
                                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    </div>
                                    <div style="float:right">
                                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.PRICE) zł</h4>
                                    </div>
                                    <div style="position: absolute;bottom: 0;">
                                        <h6 class="card-subtitle mb-2 text-muted">Dodano: xx:xx:xx</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <br>
                </div>
            </div>
        </div>
        <!---Strony--->
        <div class="col-md-12 text-center" style="background-color:grey; height:5rem;">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Adverts",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
    </div>
</div>

